# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.env
.env*.local

# Native build folders
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native Kotlin/Java
.kotlin/
*.orig.*
*.gradle
*.iml

# Metro bundler
.metro-health-check*
.expo-shared/

# Debug / Log files
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
Icon?
*.pem

# JetBrains / VS Code IDE
.idea/
.vscode/

# EAS build artifacts
*.apk
*.aab
*.ipa

# TypeScript (if added later)
*.tsbuildinfo
